<a href="https://colab.research.google.com/github/GuilhermeGanzarolli/sqlite_mongodb/blob/main/DesafioFlask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install flask_ngrok

In [ ]:
import pandas as pf
from flask_ngrok import run_with_ngrok
from flask import request, jsonify, Flask
import random as rk

In [ ]:
app = Flask(__name__)
run_with_ngrok(app)

In [ ]:
d = {
    1: {"Number": 1, "Name": "Mahesh", "Age": 25, "City": "Bangalore", "Country":"India"},
    2: {"Number": 2, "Name": "Alex", "Age": 26, "City": "London", "Country":"UK"},
    3: {"Number": 3, "Name": "David", "Age": 27, "City": "San Francisco", "Country":"USA"},
    4: {"Number": 4, "Name": "John", "Age": 28, "City": "Toronto", "Country":"Canada"},
    5: {"Number": 5, "Name": "Chris", "Age": 29, "City": "Paris", "Country":"France"}
}

In [ ]:
@app.route("/")

def home():
  '''
  O texto abaixo deve ser exibido em uma Ãºnica linha
  '''

  return "Hello World"

In [ ]:
@app.route("/input")

def input():
  return jsonify(d)

In [ ]:
@app.route('/output',methods=['GET','POST'])

def predJson():
  pred = d.choice(["positive","negative"])
  nd = d
  nd["prediction"]=pred
  return jsonify(nd)

app.run()